<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Hei maailma!</h1>

        <h2 th:text="${teksti}">testi</h2>

        <table style="width:100%">
            <tr>
                <td>Id</td>
                <td>Nimi</td>
            </tr>
            <tr th:each="aihealue: ${aihealueet}">
                <td><a th:href="|/alue/${aihealue.id}|" th:text="${aihealue.id}">1</a> </td>
                <td><a th:href="|/alue/${aihealue.nimi}|" th:text="${aihealue.nimi}">1</a> </td>
            </tr>
        </table>

        <form method="POST" action="/sivu2">
            Kirjoita haluamasi keskustelun id:<br/>
            <input type="text" name="id"/><br/>
            <input type="submit" value="Siirry keskusteluun"/>
        </form>

    </body>
</html>