<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1> Keskustelut </h1>

        <h2 th:text="${teksti}">testi</h2>
        <br/>

        <table style="width:100%">
            <tr>
                <td>Id</td>
                <td>Pvm</td>
                <td>Nimi</td>
            </tr>
            <tr th:each="keskustelu: ${keskustelut}">
                <td><a th:href="|/alue/${keskustelu.aihealue}/keskustelu/${keskustelu.id}|" th:text="${keskustelu.id}">1</a> </td>
                <td><a th:href="|/alue/${keskustelu.aihealue}/keskustelu/${keskustelu.id}|" th:text="${keskustelu.nimi}">1</a> </td>
            </tr>
        </table>



    </body>
</html>
