<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1> Keskustelut </h1>

        <h2 th:text="${teksti}">testi</h2>
        <br/>
        
        <table style="width:100%">
            <tr>
                <td>Id</td>
                <td>Pvm</td>
                <td>Nimi</td>
            </tr>
            <tr th:each="keskustelu: ${keskustelut}">
                <td><span th:text="${keskustelu.id}">1</span> </td>
                <td><span th:text="${keskustelu.paivamaara}">Essi esimerkki</span> </td>
                <td><span th:text="${keskustelu.nimi}">Essi esimerkki</span> 
                 <a href="/sivu2">view</a>
                </td>
            </tr>
        </table>
        
        <form method="POST" action="/uusiKeskustelu">
            Nimi:<br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lähetä viesti"/>
        </form>
        
    </body>
</html>
